/AxibugEmuOnline.Client/*.vsconfig
/AxibugEmuOnline.Client/Library/
/AxibugEmuOnline.Client/Temp/
/AxibugEmuOnline.Client/UserSettings/
/AxibugEmuOnline.Client/.vs/
/AxibugEmuOnline.Client/*.csproj
/AxibugEmuOnline.Client/*.sln
/AxibugEmuOnline.Client/*.sln
/AxibugEmuOnline.Client/obj/
/AxibugEmuOnline.Client/log/
/AxibugEmuOnline.Client/ProjectSettings/Packages/
/AxibugEmuOnline.Web/config.cfg
/AxibugEmuOnline.Client/ProjectSettings/ProjectVersion.txt
/AxibugEmuOnline.Client/ProjectSettings/AutoStreamingSettings.asset
/AxibugEmuOnline.Client/Logs

/virtuanessrc097-master
/AxibugEmuOnline.Server/config.cfg
/AxibugEmuOnline.Server/bin/
/AxibugEmuOnline.Client/.editorconfig
/AxibugEmuOnline.Client/*.user
/AxibugEmuOnline.Client/.idea

/Tools/HtmlTable/.vs/
/Tools/HtmlTable/bin/
/Tools/HtmlTable/obj/

/Tools/MAMEHashTool/bin/
/Tools/MAMEHashTool/obj/

/AxibugEmuOnline.Web/bin/
/AxibugEmuOnline.Web/obj/

/Tools/CheckFilesExist/bin/
/Tools/CheckFilesExist/obj/

/OtherCore/MyNes.Standard2/bin/
/OtherCore/MyNes.Standard2/obj/

/Core/VirtualNes.Core/bin/
/Core/VirtualNes.Core/obj/

/AxibugEmuOnline.Server/obj/

AxibugEmuOnline.GameScreenConvert/bin/
AxibugEmuOnline.GameScreenConvert/obj/